.upcomingMovies{
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}
.upcomingMoviesOuterDiv{
    display: flex;
    justify-content: space-around;
    overflow :hidden;
    flex-wrap: wrap;
}
.releasedMoviesOuterDiv{
    box-sizing: border-box;
    flex: 76;
    margin : 16px;
  }
  .filter{
      text-align: center;
      box-sizing: border-box;
      flex: 24;
      margin : 16px;
  }
  .releasedMovieAndFilter{
      display : flex;
      flex-direction: row;
  } 